
.timeline-selection-list {
  height: 330px;
  overflow: scroll;

  .timeline-item {

    color: grey;
    .item-year {
      font-weight: bold;
    }

    &.highlight {
      color: #f01c63;
    }
  }
}